# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
requests
openmeteo_requests
requests_cache
retry_requests
pandas
sqlalchemy
psycopg2-binary
python-dotenv
apache-airflow-providers-postgres